.grid-item {
    background-color: #e5db1f;
    padding: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.grid-item:hover {
    width: 80%;
    height: 80%;
}

#table-container {
    height: 280px;
    margin: 20px;
    overflow-x: scroll;
}

table {
    width: 1500px;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.hoverClass:hover {
    font-size: 20px;
    color: red;
    font-family: Arial;
    background-color: yellow;
}

tr:nth-child(even) {
    background-color: magenta;
}

tr:nth-child(odd) {
    background-color: cyan;
}

.childClass {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px;
    background-color: white;
    border: 1px solid green;
    padding: 3px;
    color: green;
    top: 20px;
    left: 20px;
}

.childClass:hover div.tooltip {
    display: block;
}

.flex-container {
    display: flex;
}

.flex-item {
    background-color: rgb(22, 144, 196);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-item::first-letter {
    font-size: 50px;
    font-weight: bold;
}